  .demo1{
            width: 1000px;
            margin: 100px auto 50px;
        }
        .demo1 ul {
            overflow: hidden;
        }
        .demo1 ul li {
            float: left;
            padding: 10px 20px;
            font-size: 18px;
            color: #fff;
            background-color: #000;
            border-radius: 3px;
            margin-right: 20px;
            cursor: pointer;
        }

        .pop{
			z-index:100;
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
        }
        .pop .popMain{ width: 600px; min-height: 300px; background: #fff; position: absolute; left: 50%; top: 30%; margin-left: -300px;}
        .popMiddle p{ text-align: center; font-size: 18px; color: #666; padding: 90px 0;}
        .pop .popBottom{ position: absolute; bottom: 0; left: 0; display: flex; width: 100%; height: 80px; text-align: center; background: #488ACC;}
        .pop .popBottom span{ flex: 1; text-align: center; font-size: 24px; color: #fff; line-height: 80px; cursor: pointer;}
        .pop .popBottom span:first-of-type{ border-right: 1px solid #fff;}